body {
    height: 100%;
    margin: 10px;
    font-family: Garamond, serif;
    background-color: #040e27;
    color: #fcf7f7;
}

img {
    position: absolute;
    max-height: 90px;
max-width: 90px;
}

div {
    position: absolute;
    width: 500px;
    text-align: center;
}

#Rside {
    left: 500px;
}

#leftSide {
    height: 500px;
    margin-top: 50px;
}

#rightSide {
    left: 500px;
    border-left: 2px solid;
    height: 500px;
    padding-bottom: 50px;
}